html,
body,
.container,
.container > div,
#content-container,
.advanced-wrapper {
    height: 100%;
}

footer {
    background-color: ghostwhite;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
}
.footer-content {
    padding: 5px 10px 5px 10px;
}

.left{
    float: left;
}
.right {
    float: right;
}
.muted {
    color: #777;
}
.advanced-wrapper > .toolbar .toolbar-container {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    padding: 1em;
    background: ghostwhite;
    z-index: 9999;
}
